<div class="login-container">
  <img src="assets/img/pic.png" alt="Image Description" />
  <form>
    <div>
      <label for="username">Utilisateur:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="ton nom d'utilisateur"
      />
    </div>
    <div>
      <label for="password">Mot de passe:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="ton mot de passe"
      />
    </div>
    <button type="submit">Se connecter</button>
    <button type="button">S'inscrire</button>
  </form>
</div>
